/*
body{
  margin: 0;
}
.header{
  background-color: #1e7ab7;
  padding: 25px;
}
.header h1{
  color: aliceblue;
  text-align: center;
}
.title{
  color: mediumvioletred;
}

.content{
  background-color: darkblue;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.card{
  width: 350px;
  padding: 15px;
  background-color: gray;
}*/
